server:
  port: 8082
  servlet:
    context-path: '/Culinary-authuser/'

spring:
  application:
    name: Culinary-authuser-service
  datasource:
    url:  jdbc:postgresql://localhost:5432/Culinary-authuser
    username: postgres
    password: 123
  jpa:
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.PostgreSQLDialect
      jdbc:
        lob.non-contextual-creation: true
    properties:
      hibernate:
        show_sql: true
  output:
    ansi:
      enabled: Always
  rabbitmq:
      addresses: amqps://xewpbrhs:8oQrjnoywt93dUlmRNHyLiktNDnydxcp@leopard.lmq.cloudamqp.com/xewpbrhs



Culinary:
  broker:
    exchange:
      userEvent: Culinary.userevent